img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}
.ui.menu.fluid, .ui.vertical.menu.fluid{
  width: 88% !important;
  background-color:  rgba(25,25,25,0.425);
  color: white;
}
.ui.grid>.row>.stretched.column, .ui.grid>.stretched.column:not(.row), .ui.grid>.stretched.row>.column, .ui.stretched.grid>.column, .ui.stretched.grid>.row>.column{
  padding-left: 0px;
  padding-right: 0px;
}
.ui.grid>.row>.stretched.column>*, .ui.grid>.stretched.column:not(.row)>*, .ui.grid>.stretched.row>.column>*, .ui.stretched.grid>.column>*, .ui.stretched.grid>.row>.column>*{
  background: rgba(25,25,25,0.425);
}
.form-control::placeholder {
  color: #bbb !important;
}
.four wide column{
  padding-right: 0px;
}

.ui.cards{
 
  margin:.1em;
}
