body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(./logo.svg),
  -webkit-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1);
  color:white;
  background-size: cover;
  background-attachment: fixed, fixed;
  font-weight: 300;
  padding-bottom: 100px;

}
.container{
  padding-right: 0px;
  padding-left: 0px;
  
}
@media(min-width: 768px){
.container{
  max-width: 99%;
}
}
@media (min-width: 576px){
  .container{
  max-width: 99%;
  }
}
.modal-content{
  background:black;
}
.ui.cards>.card{
  background:rgba(25,25,25,0.425);
  color: white;
}
.ui.card>.content>.header:not(.ui), .ui.cards>.card>.content>.header:not(.ui){
  color: white;
}
.ui.card .meta, .ui.cards>.card .meta{
  color: white;
}
.ui.card>.content>.header+.description, .ui.card>.content>.meta+.description, .ui.cards>.card>.content>.header+.description, .ui.cards>.card>.content>.meta+.description{
  color: white;
  padding-bottom:.5em;
}
.react-bs-table react-bs-table-bordered{
  background:rgba(25,25,25,0.425);
  font-weight: 300;
}
.card card-body mb-3{
  background: rgba(25,25,25,0.425);
}
.form-control{
  background: rgba(25,25,25,0.425);
  color: white;
  padding:2px;
  margin: auto;
}
.ui.form .field .ui.input input, .ui.form .fields .field .ui.input input{
  background: rgba(25,25,25,0.425);
  color: white;
  width: 50%;
}

.ui.form .field > label{
  color:white;
}
.ui.vertical.tabular.menu .active.item{
  color: white;
  background-color: #414e60;
}
.ui.vertical.tabular.menu .item{
  color: ghostwhite;
}



/* url(../img/bg-pattern.svg),-moz-radial-gradient(10% 0, farthest-side ellipse, #414e60 20%, #94a3b1)

url(../img/bg-pattern.svg),radial-gradient(farthest-side ellipse at 10% 0, #414e60 20%, #94a3b1) */